@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  background-image: url("background.jpg");
}

.navbar{
  background-color: rgb(100, 32, 60);
  ;
}
.navbar-brand{
  color: white;
}

.logo-image{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}

.chart {
  width: auto;
  height: 500px;
  margin: 5% 10%;
  padding-bottom: 10%;
  margin-bottom: 10%;
  
}
.heading {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
   margin: 0%;
  
}
.footer {
  left: 0;
  bottom: 0;
  background-color: rgb(100, 32, 60);
  color: white;
  text-align: center;
}